<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="May Suite">

<listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
<listener class-name="listners.CustomListners"></listener>
</listeners>

  <test thread-count="5" name="Test Login">
    <classes>
      <class name="testcases.TestLogin"/>
      <class name="base.TestBase"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test TestMemberCenter">
    <classes>
      <class name="testcases.TestMemberCenter"/>
      <class name="base.TestBase"/>
    </classes>
  </test> <!-- Test -->
  
<test thread-count="5" name="Test TestChangeInfo">
    <classes>
      <class name="testcases.TestChangeInfo"/>
      <class name="base.TestBase"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
